body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E5E5E5;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing:border-box;
}


.container{
  max-width:550px;
  min-height: 100vh;
  margin:auto;
  margin-top: 10px;
  background-color: white;
  border-radius: 10px 10px 0px 0px;

 
}


/* MEME GENERATOR CSS */
/* NAV CLASSES */
.m--nav{
  height:65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  display:flex;

}
.m--nav-content{
  display: flex;
  align-items: center;
}
.m--nav-logo{
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.m--nav-title{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-family: 21px;
  color: white;
}
.m--nav-subtitle{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: white; 
  float: right; 
}


.m--form{
  max-width: 95%;
  margin-left: 20px;
  
}
.m--inputfield-container{
  display: flex;
  margin-top: 36px;
  margin-bottom: 15px;
}
.m--inputfield{
  padding: 15px;
  margin-right: 10px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
}
.m--button{
  border: none;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  width: 98%;
}
.m--imagebox{
  width: 95%;
  height: 400px;
  margin: 10px;
  border-color: #918E9B;
  background-color: #F55A5A;
}


/* TRAVEL JOURNAL CSS */
/* Nav bar  */
.t--nav{
  height: 55px;
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
}

/* travel page logo */
.t--nav-content{
  display: flex;
  align-items: center;
}

.t--nav-logo{
  padding-bottom: 2px;
}

.t--nav-title{
  font-family: 'Poppins', sans-serif;
  color: white;
  margin-left: 7px;
}


/* Flex image and card details side by side */
.t--card-container{
 display: flex;
 margin-top: 45px;
 margin-bottom: -9px;
 justify-content: center ;
 
}


.t--card-image{
  width: 125px;
  height: 168px;
  overflow: hidden;
  position: relative; 
  margin-left: 20px;
  border-radius: 5px;

}

.t--card-image img {
  position: absolute; /* Set the image position to absolute */
  top: 50%; /* Move the top of the image to the middle of the container */
  left: 50%; /* Move the left of the image to the middle of the container */
  transform: translate(-50%, -50%); /* Translate the image to center it */
 /* Make the image width adjust to the container size */
  height: 100%; /* Make the image height match the container height */
  object-fit: cover; /* Scale the image to cover the container while maintaining its aspect ratio */
}

.t--card-content{
  max-width: 326px;
  font-family: 'Poppins', sans-serif;
  padding: 15px 0px 0px 20px;
/* top right bottom left */
}


.t--card-locationitems{
  display: flex;
  align-items: center;
  font-size: 10px;
  
}

.t--card-locationitems img,div{
  margin-right: 5px;
}

.t--card-locationlogo{
  width: 7px;
  height: 10px;
}

/* .t--card-locationname{

} */

.t--card-locationlink{
  color: #918E9B;
  text-decoration: underline;

}

.t--card-title{
  margin:0px;
  font-size: 25px;
  font-weight: 700;
}

.t--card-date{
  padding-top:10px ;
  font-size: 11px;
  font-weight: 700;
}

.t--card-details{
  font-size: 11px;
  margin-top: 10px;
}



/* NavBar classes */
.nav{
  height: 70px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 5px 15px #dbdbdb;
  display: flex;
  align-items: center;  
}

.nav--logo{
  height:25px;
  margin-left: 30px;
}


/* Hero section decorators */
.hero--section{
  display: flex;
  flex-direction: column;
}

.hero--image{
  margin-top: 15px;
  height: 232px;
  align-self: center;
  
}

.hero--content{
  max-width: 300px;
  margin-left: 36px;
  font-family: 'Poppins', sans-serif;
}

/* Card Section box */
.card--section{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 36px;
  
  ;
  

}

/* Card decorators */

.card--container{
  display:flex;
  flex-direction: column;
  flex: 0 0 auto; 
  position: relative;
  max-width: 176px;
  margin-right: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  line-height: 18px;

}

.card--image{
  width: 100%;
}

.card--tag{
  position: absolute;
  background-color: rgb(230, 230, 230);
  padding: 5px;
  border-radius: 5px; 
  top: 6px;
  left: 6px;
}
.card--details{
  max-width: 176px;
}

.card--status{
  display: flex;
  flex-direction: row;
  font-weight: 300;
}

.card--rating--icon{
  width: 14px;
  height: 14px;
}

.card--content{
  font-weight: 300;
}